<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DeulsalE</title>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/base.css}">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/index.home.css}">
    <link rel="shortcut icon" th:href="@{/resources/images/fabicon.png}">
    <script defer th:src="@{/resources/scripts/common.js}"></script>
    <script defer th:src="@{/resources/scripts/index.home.js}"></script>
</head>
<body>
<div id="dialogCover" class=""></div>
<div id="dialogLayer" class="dialog">
    <span class="title" rel="title">제목</span>
    <span class="content fontSmall" rel="content">내용</span>
    <div class="button-container">
        <input class="button cancel" type="button" rel="cancel" value="취소">
        <input class="button confirm" type="submit" rel="confirm" value="확인">
    </div>
</div>
<div id="dialogYesNo" class="dialog">
    <span class="title" rel="title">제목</span>
    <span class="content fontSmall" rel="content">내용</span>
    <div class="button-container">
        <input class="button confirm" type="submit" rel="confirm" value="예">
        <input class="button cancel" type="button" rel="cancel" value="아니오">
    </div>
</div>
<div id="headLine" class="box">
    <div id="info_type" class="place">
        <div>
            <input class="checked" rel="user" type="button" value="개인">
            <input rel="entrepreneur" type="button" value="사업자">
        </div>
    </div>
    <div id="info_menu" class="place">
        <a class="nickname" th:if="${session.user != null}"  th:href="@{/mypage/modify}">
            <span th:text="${session.user['nickname']}"></span>
        </a>
        <span th:if="${session.user != null}">님</span>
        <a th:if="${session.user == null}" th:href="@{/user/login}">로그인</a>
        <a th:if="${session.user != null}" class="logout" href="#">로그아웃</a>
        <a th:if="${session.user == null}" th:href="@{/user/register}">회원가입</a>
        <a th:if="${session.user != null && session.user.getAuthority() == 0}" th:href="@{/admin}">관리자 홈</a>
        <a th:if="${session.user != null}" th:href="@{/mypage/modify}">마이페이지</a>
        <a th:href="@{/help/faq}">고객센터</a>
    </div>
</div>
<div id="block" class="box">
    <div class="logo" th:if="${session.user == null}">
        <a th:href="@{/}">
            <img th:src="@{/resources/images/로고2_remove.png}" alt="">
        </a>
    </div>
    <div class="logo" th:if="${session.user != null}">
        <a th:if="${session.user.getAuthority() != 2}" th:href="@{/}">
            <img th:src="@{/resources/images/로고2_remove.png}" alt="">
        </a>
        <a th:if="${session.user.getAuthority() == 2}" th:href="@{/entrepreneur}">
            <img th:src="@{/resources/images/로고2_remove.png}" alt="">
        </a>
    </div>
    <div id="search">
        <label>
            <div>
                <img width="24" height="24" src="https://img.icons8.com/material-outlined/24/228B22/search--v1.png" alt="search--v1"/>
            </div>
            <input id="searchContent" type="text" placeholder="검색">
        </label>
    </div>
    <div id="marge">

    </div>
</div>
<div id="bene" class="box">

</div>
<nav id="nav" class="box entrepreneur visible">

</nav>
<div id="icon" class="box">
    <div>
        <a th:href="@{/member/recommendation}">
            <img th:src="@{/resources/images/icons/추천.png}" alt="추천">
            <span>추천</span>
        </a>
    </div>
    <div>
        <a th:href="@{/member/campsite?code=1}">
            <img th:src="@{/resources/images/icons/일반3.png}" alt="일반">
            <span>일반야영장</span>
        </a>
    </div>
    <div>
        <a th:href="@{/member/campsite?code=2}">
            <img th:src="@{/resources/images/icons/자동차.png}" alt="일반">
            <span>자동차야영장</span>
        </a>
    </div>
    <div>
        <a th:href="@{/member/campsite?code=3}">
            <img th:src="@{/resources/images/icons/카라반.png}" alt="일반">
            <span>카라반</span>
        </a>
    </div>
    <div>
        <a th:href="@{/member/campsite?code=4}">
            <img th:src="@{/resources/images/icons/글램핑2.png}" alt="일반">
            <span>글램핑</span>
        </a>
    </div>
</div>
<div id="contents" class="box">
    <div id="content" class="box visible">
        <div class="box">메뉴얼1 준비중</div>
        <div class="box">메뉴얼2 준비중</div>
        <div class="box">메뉴얼3 준비중</div>
        <div>메뉴얼4 준비중</div>
    </div>
    <div id="event" class="box">
        <label>
            <span>EVENT</span>
            <a th:href="@{/help/event}">더보기</a>
        </label>
        <div>
            <div th:each="event :${events}">
                <div th:onclick="'moveEvent('+${event.getIndex()}+')'">
                    <img th:src="@{''+${event.getSrc()}}" onerror="this.onerror=null; this.src='/resources/images/event_bg/001.jpg';">
                </div>
                <span class="eventTitle" th:text="${event.getTitle()}"></span>
                <span class="eventCampName" th:text="${event.getCampsiteName()}"></span>
                <span class="eventDay" th:text="${#dates.format(event.getStartDay(),'yyyy-MM-dd')}+' ~  '+${#dates.format(event.getEndDay(),'yyyy-MM-dd')}"></span>
            </div>
        </div>
    </div>
    <div id="news" >
        <label>
            <span>공지사항</span>
            <a th:href="@{/help/notice}">더보기</a>
        </label>
        <div>
            <table>
                <thead>
                <tr>
                    <th>구분</th>
                    <th>제목</th>
                    <th>작성일</th>
                    <th>조회수</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="notice:${notices}" th:onclick="'moveNotice('+${notice.getIndex()}+')'">
                    <td th:text="${notice.getSort()}"></td>
                    <td th:text="${notice.getSubject()}"></td>
                    <td th:text="${#dates.format(notice.getCreatedAt(),'yyyy.MM.dd')}"></td>
                    <td th:text="${notice.getView()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer id="footer" class="box">
    <div id="sub_logo" class="">
        <img th:src="@{/resources/images/로고1_remove.png}" alt="">
    </div>
</footer>
</body>
</html>