<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>들살이 - 1:1문의내역</title>
    <link rel="shortcut icon" th:href="@{/resources/images/fabicon.png}">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/base.css}">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/Home/mypage.css}">
    <script defer th:src="@{/resources/scripts/Home/mypage/mypage.js}"></script>
    <script defer th:src="@{/resources/scripts/common.js}"></script>
    <script defer th:src="@{/resources/scripts/Home/mypage/qna.js}"></script>
</head>
<body>
<div id="dialogCover" class=""></div>
<div id="dialogLayer" class="dialog">
    <span class="title" rel="title">제목</span>
    <span class="content" rel="content">내용</span>
    <div class="button-container">
        <input class="button cancel" type="button" rel="cancel" value="취소">
        <input class="button confirm" type="submit" rel="confirm" value="변경하기">
    </div>
</div>
<div id="dialogYesNo" class="dialog">
    <span class="title" rel="title">제목</span>
    <span class="content fontSmall" rel="content">내용</span>
    <div class="button-container">
        <input class="button confirm" type="submit" rel="confirm" value="예">
        <input class="button cancel" type="button" rel="cancel" value="아니오">
    </div>
</div>
<div id="headLine" class="box">
    <div id="info_type" class="place">
        <div th:if="${session.user == null}">
            <input class="checked" rel="user" type="button" value="개인">
            <input rel="entrepreneur" type="button" value="사업자">
        </div>

        <div th:if="${session.user != null}">
            <input th:class="${session.user.getAuthority()!=2? 'checked':''}" rel="user" type="button" value="개인">
            <input th:class="${session.user.getAuthority()==2? 'checked':''}" rel="entrepreneur" type="button" value="사업자">
        </div>
    </div>
    <div id="info_menu" class="place">
        <a class="nickname" th:if="${session.user != null}"  th:href="@{/mypage/modify}">
            <span th:text="${session.user['nickname']}"></span>
        </a>
        <span th:if="${session.user != null}">님</span>
        <a th:if="${session.user == null}" th:href="@{/user/login}">로그인</a>
        <a th:if="${session.user != null}" class="logout" href="#">로그아웃</a>
        <a th:if="${session.user == null}" th:href="@{/user/register}">회원가입</a>
        <a th:if="${session.user != null}" th:href="@{/mypage/modify}">마이페이지</a>
        <a th:href="@{/help/faq}">고객센터</a>
    </div>
</div>
<div id="block" class="box">
    <div class="logo" th:if="${session.user == null}">
        <a th:href="@{/}">
            <img th:src="@{/resources/images/로고2_remove.png}" alt="">
        </a>
    </div>
    <div class="logo" th:if="${session.user != null}">
        <a th:if="${session.user.getAuthority() != 2}" th:href="@{/}">
            <img th:src="@{/resources/images/로고2_remove.png}" alt="">
        </a>
        <a th:if="${session.user.getAuthority() == 2}" th:href="@{/entrepreneur}">
            <img th:src="@{/resources/images/로고2_remove.png}" alt="">
        </a>
    </div>
    <div id="search">
        <label>
            <div>
                <img width="24" height="24" src="https://img.icons8.com/material-outlined/24/228B22/search--v1.png"
                     alt="search--v1"/>
            </div>
            <input id="searchContent" type="text" placeholder="검색">
        </label>
    </div>
    <div id="marge">

    </div>
</div>
<nav id="nav" class="box user visible">
    <div class="user">
        <a th:href="@{/templates/member/recommendation}">
        <span>
            추천
        </span>
        </a>
        <a th:href="@{/templates/member/format}">
        <span>
            일반야영장
        </span>
        </a>
        <a th:href="@{/templates/member/format}">
        <span>
            자동차야영장
        </span>
        </a>
        <a th:href="@{/templates/member/format}">
        <span>
            카라반
        </span>
        </a>
        <a th:href="@{/templates/member/format}">
        <span>
            글램핑
        </span>
        </a>
    </div>
    <div class="entrepreneur">
        <a th:href="@{/entrepreneur/registration}">
        <span>
            사업장등록
        </span>
        </a>
        <a th:href="@{/entrepreneur/profile}">
        <span>
            사업장프로필
        </span>
        </a>
        <a th:href="@{/entrepreneur/reservation}">
        <span>
            예약서비스
        </span>
        </a>
        <a th:href="@{/entrepreneur/event}">
        <span>
            이벤트
        </span>
        </a>
    </div>
</nav>
<div id="contents" class="box">
    <div class="subBene box">
        <div class="title">
            <span>마이페이지</span>
            <span>계정 정보 수정 및 각각 항목 내역 확인</span>
        </div>
    </div>
    <div class="content">
        <div class="subMenu">
            <button rel="myInfoBtn" class="myInfoBtn" onclick="location.href='/mypage/modify'">개인정보수정</button>
            <button th:if="${session.user['authority'] != 2}" class="reservationBtn" rel="reservationBtn" onclick="location.href='/mypage/reservation'">예약목록</button>
            <button th:if="${session.user['authority'] != 2}" class="bookmarkBtn" rel="bookmarkBtn" onclick="location.href='/mypage/bookmark'">즐겨찾기목록</button>
            <button class="helpBtn selected" rel="helpBtn" onclick="location.href='/mypage/qna'">1:1문의내역</button>
        </div>

        <div id="helpList">
            <table>
                <thead>
                <tr>
                    <th>순번</th>
                    <th>구분</th>
                    <th>제목</th>
                    <th>작성일</th>
                </tr>
                </thead>
                <tbody th:if="${qna != null}">
                <tr th:if="${qna.length == 0}">
                    <td colspan="4">문의내역이 존재하지 않습니다.</td>
                </tr>
                <tr th:each="qna, qnaStat : ${qna}" th:onclick="'moveDetail('+${qna.getIndex()}+')'">
                    <td th:text="${(pageModel.requestPage - 1) * pageModel.pageCount + qnaStat.count}"></td>
                    <td th:text="${qna.isSort() == true ? '답변완료' : '답변예정'}"></td>
                    <td th:text="${qna.getTitle()}"></td>
                    <td class="td date" th:text="${#dates.format(qna.getCreatedAt(), 'yyyy-MM-dd')}"></td>
                </tr>
                </tbody>
                
<!--                <tbody>-->
<!--                <tr>-->
<!--                    <td>1</td>-->
<!--                    <td>답변예정</td>-->
<!--                    <td>트레이드 관련한 질문입니다.</td>-->
<!--                    <td>06.22</td>-->
<!--                </tr>-->
<!--                </tbody>-->
            </table>
            <ul class="pageContainer">
                <li class="page" th:if="${pageModel.requestPage > 1}">
                    <a th:href="@{'./qna' (page = ${1})}" class="link">
                        <img width="32" height="32" src="https://img.icons8.com/small/32/double-left.png" alt="double-left"/>
                    </a>
                </li>
                <li class="page" th:if="${pageModel.requestPage > 10}">
                    <a th:href="@{'./qna' (page = ${pageModel.requestPage - 10})}"
                       class="link">
                        <img width="32" height="32" src="https://img.icons8.com/small/32/back.png" alt="back"/>
                    </a>
                </li>
                <li class="page" th:if="${pageModel.requestPage > 1}">
                    <a th:href="@{'./qna' (page = ${pageModel.requestPage - 1})}"
                       class="link">이전</a>
                </li>
                <li class="page"
                    th:each="page : ${#numbers.sequence(pageModel.displayStartPage, pageModel.displayEndPage)}">
                    <a th:href="@{'./qna' (page = ${page})}" class="link"
                       th:text="${page}"></a>
                </li>
                <li class="page" th:if="${pageModel.requestPage < pageModel.displayEndPage}">
                    <a th:href="@{'./qna' (page = ${pageModel.requestPage + 1})}"
                       class="link">다음</a>
                </li>
                <li class="page" th:if="${pageModel.requestPage < pageModel.maxPage}">
                    <a th:href="@{'./qna' (page = ${pageModel.requestPage + 10})}"
                       class="link">
                        <img width="32" height="32" src="https://img.icons8.com/small/32/forward.png" alt="forward"/>
                    </a>
                </li>
                <li class="page" th:if="${(pageModel.displayStartPage/10)!=(pageModel.maxPage/10)}">
                    <a th:href="@{'./qna' (page = ${pageModel.maxPage})}"
                       class="link">
                        <img width="32" height="32" src="https://img.icons8.com/small/32/double-right.png"
                             alt="double-right"/>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<footer id="footer" class="box">
    <div id="sub_logo" class="">
        <img th:src="@{/resources/images/로고1_remove.png}" alt="">
    </div>
</footer>
</body>
</html>