<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>사업장프로필</title>
    <link rel="shortcut icon" th:href="@{/resources/images/fabicon.png}">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/base.css}">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/entrepreneur/profile.css}">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/entrepreneur/entrepreneur.css}">
    <script defer th:src="@{/resources/scripts/common.js}"></script>
    <script defer th:src="@{/resources/scripts/entrepreneur/format.js}"></script>
    <script defer th:src="@{/resources/scripts/entrepreneur/profile.js}"></script>
</head>
<body th:attrappend="data-not-allowed=${session.user == null || session.user.getAuthority() == 1}?'notEntrepreneur'">
<div id="dialogCover" class=""></div>
<div id="dialogLayer" class="dialog">
    <span class="title" rel="title">제목</span>
    <span class="content fontSmall" rel="content">내용</span>
    <div class="button-container">
        <input class="button cancel" type="button" rel="cancel" value="취소">
        <input class="button confirm" type="submit" rel="confirm" value="확인">
    </div>
</div>
<div id="dialogComplete" class="dialog">
    <span class="title" rel="title">제목</span>
    <div class="imgLogoContainer">
        <img th:src="@{/resources/images/로고1_remove.png}">
    </div>
    <span class="content" rel="content">내용</span>
    <div class="button-container">
        <input class="button cancel" type="button" rel="cancel" value="취소">
        <input class="button confirm" type="submit" rel="confirm" value="확인">
    </div>
</div>

<div id="dialogYesNo" class="dialog">
    <span class="title" rel="title">제목</span>
    <span class="content fontSmall" rel="content">내용</span>
    <div class="button-container">
        <input class="button confirm" type="submit" rel="confirm" value="예">
        <input class="button cancel" type="button" rel="cancel" value="아니오">
    </div>
</div>

<div id="headLine" class="box">
    <div id="info_type" class="place">
        <div>
            <input rel="user" type="button" value="개인">
            <input class="checked" rel="entrepreneur" type="button" value="사업자">
        </div>
    </div>
    <div id="info_menu" class="place">
        <a class="nickname" th:if="${session.user != null}"  th:href="@{/mypage/modify}">
            <span th:text="${session.user['nickname']}"></span>
        </a>
        <span th:if="${session.user != null}">님</span>
        <a th:if="${session.user == null}" th:href="@{/user/login}">로그인</a>
        <a th:if="${session.user != null}" class="logout" href="#">로그아웃</a>
        <a th:if="${session.user == null}" th:href="@{/user/register}">회원가입</a>
        <a th:if="${session.user != null}" th:href="@{/mypage/modify}">마이페이지</a>
        <a th:href="@{/help/faq}">고객센터</a>
    </div>
</div>
<div id="block" class="box">
    <div class="logo" th:if="${session.user == null}">
        <a th:href="@{/}">
            <img th:src="@{/resources/images/로고2_remove.png}" alt="">
        </a>
    </div>
    <div class="logo" th:if="${session.user != null}">
        <a th:if="${session.user.getAuthority() != 2}" th:href="@{/}">
            <img th:src="@{/resources/images/로고2_remove.png}" alt="">
        </a>
        <a th:if="${session.user.getAuthority() == 2}" th:href="@{/entrepreneur}">
            <img th:src="@{/resources/images/로고2_remove.png}" alt="">
        </a>
    </div>
    <div id="search">
        <label>
            <div>
                <img width="24" height="24" src="https://img.icons8.com/material-outlined/24/228B22/search--v1.png"
                     alt="search--v1"/>
            </div>
            <input id="searchContent" type="text" placeholder="검색">
        </label>
    </div>
    <div id="marge">

    </div>
</div>
<nav id="nav" class="box entrepreneur">
    <div class="user">
        <a>
        <span>
            일반야영장
        </span>
        </a>
        <a>
        <span>
            자동차야영장
        </span>
        </a>
        <a>
        <span>
            카라반
        </span>
        </a>
        <a>
        <span>
            글램핑
        </span>
        </a>
        <a>
        <span>
            추천
        </span>
        </a>
    </div>
    <div class="entrepreneur">
        <a th:href="@{/entrepreneur/registration}">
        <span>
            사업장등록
        </span>
        </a>
        <a th:href="@{/entrepreneur/profile}">
        <span>
            사업장프로필
        </span>
        </a>
        <a th:href="@{/entrepreneur/reservation}">
        <span>
            예약서비스
        </span>
        </a>
        <a th:href="@{/entrepreneur/event}">
        <span>
            이벤트
        </span>
        </a>
    </div>
</nav>
<div id="contents" class="box">
    <div class="subBene box">
        <div class="title">
            <span>사업장 프로필</span>
            <span>사업자가 등록한 사업장에 관한 정보 수정 및 삭제</span>
        </div>
    </div>
    <div class="content">
        <div>
            <span>사업장 선택</span>
            <table>
                <thead>
                <tr>
                    <th>이름</th>
                    <th>구분</th>
                    <th>주소</th>
                    <th>전화번호</th>
                    <th>선택</th>
                </tr>
                </thead>
                <tbody th:if="${campsites == null}">
                <tr class="noData" onclick="moveRegistration()">
                    <td colspan="5">등록된 사업장이 없습니다. (사업장을 등록해주세요.)</td>
                </tr>
                </tbody>
                <tbody th:if="${campsites != null}">
                <tr th:each="campsite, i : ${campsites}" th:id="${campsite.getIndex()}">
                    <td th:text="${campsite.getName()}"></td>
                    <td>
                        <span th:if="${campsite.getGeneralCnt() > 0}">일반야영장</span>
                        <span th:if="${campsite.getAutoCnt() > 0}">자동차야영장</span>
                        <span th:if="${campsite.getCaravanCnt() > 0}">카라반</span>
                        <span th:if="${campsite.getGlampingCnt() > 0}">글램핑</span>
                    </td>
                    <td th:text="${campsite.getNumberAd()}"></td>
                    <td th:text="${campsite.getContact()}"></td>
                    <td>
                        <a class="_object-button _color-concept" th:href="@{'./profile' (index = ${i.index})}">선택</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <form class="newCamping" rel="profileForm" th:if="${campsites != null}">
            <div id="basicsContainer" class="basics">
                <span class="contentTitle">기본 정보</span>
                <div class="lineContainer">
                    <input type="text" hidden="hidden" name="index" th:value="${campsites[index].getIndex()}">
                    <label class="name _object-input-wrapper">
                        <span>사업장명 : </span>
                        <input name="name" class="_object-input" type="text" th:value="${campsites[index].getName()}">
                    </label>
                    <label class="_object-input-wrapper">
                        <span>사업주체 : </span>
                        <label>
                            <input name="business" class="_object-radio" type="radio" value="0" th:checked="${campsites[index].getBusiness() == 0}">
                            <span>국립공원</span>
                        </label>
                        <label>
                            <input name="business" class="_object-radio" type="radio" value="1"  th:checked="${campsites[index].getBusiness() == 1}">
                            <span>국민여가</span>
                        </label>
                        <label>
                            <input name="business" class="_object-radio" type="radio" value="2" th:checked="${campsites[index].getBusiness() == 2}">
                            <span>민간</span>
                        </label>
                        <label>
                            <input name="business" class="_object-radio" type="radio" value="3"  th:checked="${campsites[index].getBusiness() == 3}">
                            <span>자연휴양림</span>
                        </label>
                        <label>
                            <input name="business" class="_object-radio" type="radio" value="4"  th:checked="${campsites[index].getBusiness() == 4}">
                            <span>지자체</span>
                        </label>
                    </label>
                </div>
                <div class="lineContainer">
                    <label class="_object-input-wrapper">
                        <span>전화번호 : </span>
                        <input name="contactFirst" th:value="${campsites[index].getContact().split('-')[0]}" class="_object-input small" type="text" maxlength="4">
                        -
                        <input name="contactSecond" th:value="${campsites[index].getContact().split('-')[1]}" class="_object-input small" type="text" maxlength="4">
                        -
                        <input name="contactThird" th:value="${campsites[index].getContact().split('-')[2]}" class="_object-input small" type="text" maxlength="4">
                    </label>
                    <label class="_object-input-wrapper">
                        <span>홈페이지 : </span>
                        <input name="url" th:value="${campsites[index].getUrl()}" class="_object-input large" type="text">
                    </label>
                </div>
            </div>
            <div id="operationContainer" class="operation">
                <span class="contentTitle">운영 정보</span>
                <div class="lineContainer">
                    <label class="_object-input-wrapper">
                        <span>평일 운영 : </span>
                        <label>
                            <input name="isWeekday" class="_object-radio" type="radio" value="1" th:checked="${campsites[index].isWeekday() == true}">
                            <span>운영</span>
                        </label>
                        <label>
                            <input name="isWeekday" class="_object-radio" type="radio" value="0" th:checked="${campsites[index].isWeekday() == false}">
                            <span>미운영</span>
                        </label>
                    </label>
                    <label class="_object-input-wrapper">
                        <span>주말 운영 : </span>
                        <label>
                            <input name="isWeekend" class="_object-radio" type="radio" value="1" th:checked="${campsites[index].isWeekend() == true}">
                            <span>운영</span>
                        </label>
                        <label>
                            <input name="isWeekend" class="_object-radio" type="radio" value="0" th:checked="${campsites[index].isWeekend() == false}">
                            <span>미운영</span>
                        </label>
                    </label>
                </div>
                <div class="lineContainer">
                    <span>계절 운영 : </span>
                    <label class="small _object-check-wrapper">
                        <input name="spring" class="_check-input" type="checkbox" th:checked="${campsites[index].isSpring() == true}">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">봄</span>
                    </label>
                    <label class="small _object-check-wrapper">
                        <input name="summer" class="_check-input" type="checkbox" th:checked="${campsites[index].isSummer() == true}">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">여름</span>
                    </label>
                    <label class="small _object-check-wrapper">
                        <input name="fall" class="_check-input" type="checkbox" th:checked="${campsites[index].isFall() == true}">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">가을</span>
                    </label>
                    <label class="small _object-check-wrapper">
                        <input name="winter" class="_check-input" type="checkbox" th:checked="${campsites[index].isWinter() == true}">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">겨울</span>
                    </label>
                </div>
            </div>
            <div id="facilityContainer" class="facility">
                <span class="contentTitle">시설 정보</span>
                <div class="lineContainer">
                    <label class="_object-check-wrapper">
                        <input name="generalChk" th:checked="${campsites[index].getGeneralCnt() > 0}" class="_check-input" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">일반야영장</span>
                        <input name="generalCnt" th:disabled="${campsites[index].getGeneralCnt() == 0}" th:value="${campsites[index].getGeneralCnt()}" class="text _object-input large" type="number" min="0">
                    </label>
                    <label class="_object-check-wrapper">
                        <input name="autoChk" th:checked="${campsites[index].getAutoCnt() > 0}" class="_check-input" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">자동차야영장</span>
                        <input name="autoCnt"
                               th:disabled="${campsites[index].getAutoCnt() == 0}" th:value="${campsites[index].getAutoCnt()}" class="text _object-input large" type="number" min="0">
                    </label>
                    <label class="_object-check-wrapper">
                        <input name="glampingChk" th:checked="${campsites[index].getGlampingCnt() > 0}" class="_check-input" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">글램핑</span>
                        <input name="glampingCnt" th:disabled="${campsites[index].getGlampingCnt() == 0}" th:value="${campsites[index].getGlampingCnt()}" class="text _object-input large" type="number" min="0">
                    </label>
                    <label class="_object-check-wrapper">
                        <input name="caravanChk" th:checked="${campsites[index].getCaravanCnt() > 0}" class="_check-input" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">카라반</span>
                        <input name="caravanCnt" th:disabled="${campsites[index].getCaravanCnt() == 0}" th:value="${campsites[index].getCaravanCnt()}" class="text _object-input large" type="number" min="0">
                    </label>
                    <label class="_object-check-wrapper">
                    </label>
                </div>
                <input hidden="hidden" type="checkbox" name="additionalChk">
                <span class="contentSubTitle">부대 시설</span>
                <div class="lineContainer">
                    <label class="_object-check-wrapper">
                        <input name="elt" th:checked="${additionalFacility.isElt() == true}" class="_check-input" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">전기</span>
                    </label>
                    <label class="_object-check-wrapper">
                        <input name="boil" th:checked="${additionalFacility.isBoil() == true}" class="_check-input" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">온수</span>
                    </label>
                    <label class="_object-check-wrapper">
                        <input name="wifi" th:checked="${additionalFacility.isWifi() == true}" class="_check-input" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">무선인터넷</span>
                    </label>
                    <label class="_object-check-wrapper">
                        <input name="firewood" th:checked="${additionalFacility.isFirewood() == true}" class="_check-input" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">장작판매</span>
                    </label>
                    <label class="_object-check-wrapper">
                        <input name="trailsIn" th:checked="${additionalFacility.isTrailsIn() == true}" class="_check-input" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">산책로</span>
                    </label>
                </div>
                <div class="lineContainer">
                    <label class="_object-check-wrapper">
                        <input name="market" th:checked="${additionalFacility.isMarket() == true}" class="_check-input" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">마트</span>
                    </label>
                    <label class="_object-check-wrapper">
                        <input name="toiletChk" th:checked="${additionalFacility.getToilet() > 0}" class="_check-input" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">화장실</span>
                        <input name="toilet" th:disabled="${additionalFacility.getToilet() == 0}" th:value="${additionalFacility.getToilet()}" class="text _object-input" type="text">
                    </label>
                    <label class="_object-check-wrapper">
                        <input name="bathChk" th:checked="${additionalFacility.getBath() > 0}" class="_check-input" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">샤워실</span>
                        <input name="bath" th:getBath="${additionalFacility.getToilet() == 0}"th:value="${additionalFacility.getBath()}" class="text _object-input" type="text">
                    </label>
                    <label class="_object-check-wrapper">
                        <input name="sinkChk" th:checked="${additionalFacility.getSink() > 0}" class="_check-input" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">싱크대</span>
                        <input name="sink" th:disabled="${additionalFacility.getSink() == 0}"th:value="${additionalFacility.getSink()}" class="text _object-input" type="text">
                    </label>
                    <label class="_object-check-wrapper">
                        <input name="extinguishChk" th:checked="${additionalFacility.getExtinguish() > 0}" class="_check-input" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">소화기</span>
                        <input name="extinguish" th:disabled="${additionalFacility.getExtinguish() == 0}"th:value="${additionalFacility.getExtinguish()}" class="text _object-input" type="text">
                    </label>
                </div>
                <input hidden="hidden" type="checkbox" name="peripheralChk">
                <span class="contentSubTitle">주변 시설</span>
                <div class="lineContainer">
                    <label class="_object-check-wrapper">
                        <input name="fishing" th:checked="${peripheralFacility.isFishing() == true}" class="_check-input" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">낚시</span>
                    </label>
                    <label class="_object-check-wrapper">
                        <input name="trailsOut"  th:checked="${peripheralFacility.isTrailsOut() == true}" class="_check-input" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">산책로</span>
                    </label>
                    <label class="_object-check-wrapper">
                        <input name="seaBath" th:checked="${peripheralFacility.isSeaBath() == true}" class="_check-input" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">해수욕</span>
                    </label>
                    <label class="_object-check-wrapper">
                        <input name="leisure" th:checked="${peripheralFacility.isLeisure() == true}" class="_check-input" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">수상레저</span>
                    </label>
                    <label class="_object-check-wrapper">
                        <input name="valley" th:checked="${peripheralFacility.isValley() == true}" class="_check-input" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">계곡</span>
                    </label>
                </div>
                <div class="lineContainer">
                    <label class="_object-check-wrapper">
                        <input name="river" th:checked="${peripheralFacility.isRiver() == true}" class="_check-input" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">강</span>
                    </label>
                    <label class="_object-check-wrapper">
                        <input name="poll" th:checked="${peripheralFacility.isPoll() == true}" class="_check-input" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">수영장</span>
                    </label>
                    <label class="_object-check-wrapper">
                        <input name="exTeen" th:checked="${peripheralFacility.isExTeen() == true}" class="_check-input" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">청소년체험시설</span>
                    </label>
                    <label class="_object-check-wrapper">
                        <input name="exCountry" th:checked="${peripheralFacility.isExCountry() == true}" class="_check-input" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">농어촌체험시설</span>
                    </label>
                    <label class="_object-check-wrapper">
                        <input name="amuseKid" th:checked="${peripheralFacility.isAmuseKid() == true}" class="_check-input" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">어린이놀이시설</span>
                    </label>
                </div>
                <input hidden="hidden" type="checkbox" name="grampingFacilityChk">
                <span class="contentSubTitle">글램핑 시설</span>
                <div class="lineContainer">
                    <label class="_object-check-wrapper">
                        <input name="bed" th:checked="${grampingFacility.isBed() == true}" class="_check-input" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">침대</span>
                    </label>
                    <label class="_object-check-wrapper">
                        <input name="television" th:checked="${grampingFacility.isTelevision() == true}" class="_check-input" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">티비</span>
                    </label>
                    <label class="_object-check-wrapper">
                        <input name="refrigerator" th:checked="${grampingFacility.isRefrigerator() == true}" class="_check-input" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">냉장고</span>
                    </label>
                    <label class="_object-check-wrapper">
                        <input name="internet" th:checked="${grampingFacility.isInternet() == true}" class="_check-input" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">유무선인터넷</span>
                    </label>
                    <label class="_object-check-wrapper">
                        <input name="grampingToilet" th:checked="${grampingFacility.isGrampingToilet() == true}" class="_check-input" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">화장실</span>
                    </label>
                </div>
                <div class="lineContainer">
                    <label class="_object-check-wrapper">
                        <input name="airConditioner" th:checked="${grampingFacility.isAirConditioner() == true}" class="_check-input" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">에어컨</span>
                    </label>
                    <label class="_object-check-wrapper">
                        <input name="heater" th:checked="${grampingFacility.isHeater() == true}" class="_check-input" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">난방도구</span>
                    </label>
                    <label class="_object-check-wrapper">
                        <input name="utensil" th:checked="${grampingFacility.isUtensil() == true}" class="_check-input" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="contentTitle">취사도구</span>
                    </label>
                    <label class="_object-check-wrapper">
                    </label>
                    <label class="_object-check-wrapper">
                    </label>
                </div>
                <input hidden="hidden" type="checkbox" name="characteristicsChk">
                <span class="contentSubTitle">시설 특징</span>
                <textarea name="characteristics" th:text="${campsites[index].getCharacteristics()}" class="_object-input term" placeholder="해당 야영장 시설의 특징을 적어주세요."></textarea>
                <input hidden="hidden" type="checkbox" name="introductionChk">
                <span class="contentSubTitle">시설 소개글</span>
                <textarea name="introduction" th:text="${campsites[index].getIntroduction()}" class="_object-input term" placeholder="해당 야영장의 소개하는 내용을 적어주세요."></textarea>
            </div>

            <div class="attachment">
                <span class="contentTitle">사진 수정</span>
                <div id="imageContainer">
                    <div th:if="${campsiteImgCount != 0}" th:each="i:${#numbers.sequence(0, campsiteImgCount - 1)}" class="image" th:id='${"imagePlace" + i}'>
                        <img th:src="@{'/entrepreneur/profile/image' (campsiteIndex = ${campsites[index].getIndex()}, index = ${i})}" th:alt="${campsiteImgIndex[i]}">
                        <div class="close" th:rel="${i}"></div>
                    </div>
                    <div th:if="${campsiteImgCount < 10}" th:each="i:${#numbers.sequence(campsiteImgCount, 9)}" class="image" th:id='${"imagePlace" + i}'>
                        <input hidden="hidden" type="file" onchange="setThumbnail(event)">
                        <div class="plus" th:rel="${i}"></div>
                    </div>
                </div>
            </div>
            <div id="newReservationContainer" class="reservation box">
                <span class="contentTitle">예약 서비스</span>
                <div class="lineContainer">
                    <label class="_object-input-wrapper">
                        <label>
                            <input name="isReservation" class="_object-radio" type="radio" value="true" th:checked="${campsites[index].isReservation() == true}">
                            <span>동의</span>
                        </label>
                        <label>
                            <input name="isReservation" class="_object-radio" type="radio" value="false" th:checked="${campsites[index].isReservation() == false}">
                            <span>미동의</span>
                        </label>
                    </label>
                </div>
                <span class="contentSubTitle">객실 리스트</span>
                <div class="createCost lineContainer">
                    <table>
                        <thead>
                        <tr>
                            <th>이름</th>
                            <th>비용</th>
                            <th class="small">허용인원</th>
                            <th class="small">추가가능인원</th>
                            <th>추가인원비용</th>
                        </tr>
                        </thead>
                        <tbody th:if="${costMap == null}" id="costList">
                        <tr>
                            <td>
                                <input class="_object-input" type="text" rel="siteName">
                            </td>
                            <td>
                                <input class="_object-input" type="number" rel="cost">
                            </td>
                            <td>
                                <input class="_object-input small" type="number" rel="allowPerson">
                            </td>
                            <td>
                                <input class="_object-input small" type="number" rel="addPerson">
                            </td>
                            <td>
                                <input class="_object-input" type="number" rel="addPersonCost">
                            </td>
                        </tr>
                        </tbody>
                        <tbody th:if="${costMap != null}" id="mapCostList">
                        <tr th:each="costMapKey:${costMap.keySet()}">
                            <td>
                                <input th:value="${costMapKey}" class="_object-input" type="text" rel="siteName">
                            </td>
                            <td>
                                <input th:value="${costMap.get(costMapKey)['cost']}" class="_object-input" type="number" rel="cost">
                            </td>
                            <td>
                                <input th:value="${costMap.get(costMapKey)['allowPerson']}" class="_object-input small" type="number" rel="allowPerson">
                            </td>
                            <td>
                                <input th:value="${costMap.get(costMapKey)['addPerson']}" class="_object-input small" type="number" rel="addPerson">
                            </td>
                            <td>
                                <input th:value="${costMap.get(costMapKey)['addPersonCost']}" class="_object-input" type="number" rel="addPersonCost">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="lineContainer">
                    <div th:if="${costMap == null}">
                        <input class="_object-button" rel="newCostAddBtn" type="button" value="추가" onclick="addCostList(costList)">
                        <input class="_object-button" rel="newCostDeleteBtn" type="button" value="삭제" onclick="deleteCostList(costList)">
                    </div>
                    <div th:if="${costMap != null}">
                        <input class="_object-button" rel="newCostAddBtn" type="button" value="추가" onclick="addCostList(mapCostList)">
                        <input class="_object-button" rel="newCostDeleteBtn" type="button" value="삭제" onclick="deleteCostList(mapCostList)">
                    </div>
                </div>

            </div>

            <div class="buttonContainer">
                <input class="_object-button _color-concept" type="submit" value="수정하기">
                <input rel="deleteCompany" class="_object-button _color-concept" type="button" value="삭제하기">
            </div>
        </form>
    </div>
</div>
<footer id="footer" class="box">
    <div id="sub_logo" class="">
        <img th:src="@{/resources/images/로고1_remove.png}" alt="">
    </div>
</footer>
</body>
</html>