<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>들살이 - 로그인</title>
    <link rel="shortcut icon" th:href="@{/resources/images/fabicon.png}">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/mobile/login.css}">
    <script defer th:src="@{/resources/scripts/mobile/login.js}"></script>
</head>
<body>
<div id="loginForm">
    <header class="header">
        <div class="headerLogo">
            <a th:href="@{/mobile/}" class="logo">
                <img th:src="@{/resources/images/user/textLogo02.png}" alt="">
            </a>
        </div>
    </header>
    <div class="login-container">
        <div class="option-container visible">
            <label class="label individual">
                <input checked class="option" name="authority" type="radio" value="1">
                <img th:src="@{/resources/images/user/person.png}" alt="">
                <span class="text">로그인 (개인)</span>
            </label>
            <label class="label business">
                <input class="option" name="authority" type="radio" value="2">
                <img th:src="@{/resources/images/user/business.png}" alt="">
                <span class="text">로그인 (사업자)</span>
            </label>
        </div>
        <div class="loginDiv">
            <label class="label">
                <img th:src="@{/resources/images/user/login.png}" alt="">
                <input class="input" maxlength="50" name="userId" placeholder="아이디" type="text">
            </label>
            <label class="label">
                <img th:src="@{/resources/images/user/password.png}" alt="">
                <input class="input" maxlength="50" name="password" placeholder="비밀번호" type="password">
            </label>
        </div>
        <div class="warning-container">
            <span class="warning"></span>
        </div>
        <div class="button-container">
            <input class="login-button" type="submit" value="로그인">
        </div>
        <ul class="registerEndRecover">
            <li><a th:href="@{/mobile/register}">회원가입</a></li>
            <li><a th:href="@{/mobile/recover}">아이디 찾기 / 비밀번호 찾기</a></li>
        </ul>
    </div>
</div>
</body>
</html>