<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>들살이 - 마이페이지</title>
    <link rel="shortcut icon" th:href="@{/resources/images/fabicon.png}">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/mobile/format.css}">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/mobile/myInfo.css}">
    <script defer th:src="@{/resources/scripts/mobile/format.js}"></script>
    <script defer th:src="@{/resources/scripts/mobile/myInfo.js}"></script>
</head>
<body>
<div id="blurCover" class=""></div>
<div id="dialogCover" class=""></div>
<div id="dialogLayer" class="dialog">
    <span class="title" rel="title">제목</span>
    <span class="content fontSmall" rel="content">내용</span>
    <div class="button-container">
        <input class="button confirm" type="submit" rel="confirm" value="확인">
    </div>
</div>
<div id="dialogYesNo" class="dialog">
    <span class="title" rel="title">제목</span>
    <span class="content fontSmall" rel="content">내용</span>
    <div class="button-container">
        <input class="button confirm" type="submit" rel="confirm" value="예">
        <input class="button cancel" type="button" rel="cancel" value="아니오">
    </div>
</div>
<div class="layer" id="emailCertifiedLayer">
    <form id="emailForm" class="visible">
        <div class="layerHead">
            <span>이메일 변경</span>
            <div class="close" id="emailClose" rel="close"></div>
        </div>
        <label>
            <input class="_object-input large" type="email" name="email" placeholder="변경할 이메일 입력">
            <input class="_object-button codeSendBtn" type="button" value="전송">
        </label>
        <label>
            <input readonly class="warning" name="warning" value="">
        </label>
        <label>
            <input disabled class="_object-input large" type="text" name="code" placeholder="인증번호 입력">
            <input disabled class="_object-button verifyBtn" type="button" name="newEmailCodeVerify" value="인증">
            <input disabled class="_object-input large" name="salt" type="hidden">
        </label>
        <input hidden name="newEmailAuthCodeSalt" type="hidden">
        <a href="/help/faq">인증번호가 오지 않나요?</a>
        <span class="warning" rel="warning"></span>
        <div class="button-container">
            <input class="button cancel" type="button" rel="cancel" value="취소">
            <input disabled class="button confirm" type="submit" rel="confirm" value="변경하기">
        </div>
    </form>
</div>
<div class="layer" id="contactCertifiedLayer">
    <form id="contactForm" class="visible">
        <div class="layerHead">
            <span>연락처 변경</span>
            <div class="close" id="contactClose" rel="contactClose"></div>
        </div>
        <span>새로운 연락처</span>
        <label>
            <input readonly class="_object-input small" type="text" value="010">
            <span>-</span>
            <input class="_object-input small" name="contact" type="text">
            <span>-</span>
            <input class="_object-input small" name="contact" type="text">
            <input class="_object-button codeSendBtn" type="button" value="전송">
        </label>
        <label>
            <input readonly class="warning" name="warning" value="">
        </label>
        <label>
            <input disabled class="_object-input large" name="code" type="text" placeholder="인증번호 입력">
            <input disabled class="_object-button verifyBtn" type="button" value="인증">
            <input disabled class="_object-input large" name="salt" type="hidden">
        </label>
        <a href="/help/faq">인증번호가 오지 않나요?</a>
        <div class="button-container">
            <input class="button cancel" type="button" rel="contactCancel" value="취소">
            <input disabled class="button confirm" type="submit" rel="confirm" value="변경하기">
        </div>
    </form>
    <form id="passwordForm" class="visible">
        <div class="layerHead">
            <span>비밀번호 변경</span>
            <div class="close" id="passwordClose" rel="passwordClose"></div>
        </div>
        <span>새로운 비밀번호</span>
        <label>
            <input class="_object-input large" type="password" name="password" placeholder="새로운 비밀번호 입력">
        </label>
        <label>
            <input class="_object-input large" type="password" name="passwordCheck" placeholder="새로운 비밀번호 재입력">
        </label>
        <label>
            <input readonly class="warning" name="warning" value="">
        </label>
        <span>휴대폰 인증</span>
        <label>
            <input readonly class="_object-input small" type="text" value="010">
            <span>-</span>
            <input class="_object-input small" name="contact" type="text">
            <span>-</span>
            <input class="_object-input small" name="contact" type="text">
            <input class="_object-button codeSendBtn" type="button" value="전송">
        </label>
        <label>
            <input disabled class="_object-input large" name="code" type="text" placeholder="인증번호 입력">
            <input disabled class="_object-button verifyBtn" type="button" value="인증">
            <input disabled class="_object-input large" name="salt" type="hidden">
        </label>
        <a href="/help/faq">인증번호가 오지 않나요?</a>
        <div class="button-container">
            <input class="button cancel" type="button" rel="passwordCancel" value="취소">
            <input disabled class="button confirm" type="submit" rel="confirm" value="변경하기">
        </div>
    </form>
    <form id="nameForm" class="visible">
        <div class="layerHead">
            <span>이름 변경</span>
            <div class="close" id="nameClose" rel="nameClose"></div>
        </div>
        <span>새로운 이름</span>
        <label>
            <input class="_object-input large" name="newName" type="text" placeholder="새로운 이름 입력" maxlength="10">
        </label>
        <span>휴대폰 인증</span>
        <label>
            <input readonly class="_object-input small" type="text" value="010">
            <span>-</span>
            <input class="_object-input small" name="contact" type="text" maxlength="4">
            <span>-</span>
            <input class="_object-input small" name="contact" type="text" maxlength="4">
            <input class="_object-button codeSendBtn" type="button" value="전송">
        </label>
        <label>
            <input readonly class="warning" name="warning" value="">
        </label>
        <label>
            <input disabled class="_object-input large" name="code" type="text" placeholder="인증번호 입력" maxlength="6">
            <input disabled class="_object-button verifyBtn" type="button" value="인증">
            <input disabled class="_object-input large" name="salt" type="hidden">
        </label>
        <a href="/help/faq">인증번호가 오지 않나요?</a>
        <div class="button-container">
            <input class="button cancel" type="button" rel="nameCancel" value="취소">
            <input disabled class="button confirm" type="submit" rel="confirm" value="변경하기">
        </div>
    </form>
</div>
<div id="dialogMenu">
    <div>
        <div class="menuClose">
            <img rel="menuClose" width="24" height="24" src="https://img.icons8.com/ios/50/delete-sign--v1.png" alt="delete-sign--v1"/>
        </div>
        <div id="userContainer">
            <a th:if="${session.user == null}" th:href="@{/mobile/login}">로그인이 필요합니다.</a>
            <span class="userId" th:if="${session.user != null}" th:text="${session.user.getNickname()}"></span><span
                th:if="${session.user != null}"> 님</span>
        </div>
        <div id="userMenu">
            <a th:class="${session.user == null?'lock':''}" th:href="@{/mobile/myInfo}"><img width="24" height="24" src="https://img.icons8.com/ios/50/info--v1.png" alt="info--v1"/><span>정보수정</span></a>
            <a th:class="${session.user == null?'lock':''}" th:href="@{/mobile/reservation}"><img width="24" height="24" src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/external-calendar-multimedia-kiranshastry-lineal-kiranshastry.png" alt="external-calendar-multimedia-kiranshastry-lineal-kiranshastry"/><span>예약내역</span></a>
            <a th:class="${session.user == null?'lock':''}" th:href="@{/mobile/bookmark}"><img width="24" height="24" src="https://img.icons8.com/ios/50/bookmark-ribbon--v1.png" alt="bookmark-ribbon--v1"/><span>즐겨찾기</span></a>
            <a th:class="${session.user == null?'lock':''}" th:href="@{/mobile/qna/list}"><img width="24" height="24" src="https://img.icons8.com/ios/50/questions.png" alt="questions"/><span>1:1문의내역</span></a>
        </div>
        <div id="helpContainer">
            <table>
                <tr>
                    <td><a th:href="@{/mobile/notice}">공지사항</a></td>
                    <td><a th:href="@{/mobile/event}">이벤트</a></td>
                </tr>
                <tr>
                    <td><a th:href="@{/mobile/qna}">1:1문의</a></td>
                    <td><a th:href="@{/mobile/faq}">FAQ</a></td>
                </tr>
            </table>
        </div>
        <div id="buttonContainer">
            <ul th:if="${session.user == null}">
                <li><a th:href="@{/mobile/login}"><img width="24" height="24" src="https://img.icons8.com/material-rounded/48/42AB42/enter-2.png" alt="enter-2"/><span>로그인</span></a></li>
                <li><a th:href="@{/mobile/register}"><img width="24" height="24" src="https://img.icons8.com/ios-glyphs/60/42AB42/user-male-circle.png" alt="user-male-circle"/><span>회원가입</span></a></li>
            </ul>

            <ul th:if="${session.user != null}">
                <li><a th:href="@{/mobile/logout}"><img width="24" height="24" src="https://img.icons8.com/material-rounded/48/42AB42/exit.png" alt="exit"/><span>로그아웃</span></a></li>
                <li><a th:href="@{/mobile/}"><img width="24" height="24" src="https://img.icons8.com/material-sharp/48/42AB42/home.png" alt="home"/><span>홈으로</span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="warp">
    <div id="header">
        <img rel="back" width="24" height="24" src="https://img.icons8.com/ios/50/left--v1.png" alt="left--v1"/>
        <span>정보수정</span>
        <img rel="home" width="24" height="24" src="https://img.icons8.com/material-rounded/48/home.png" alt="home"/>
        <img rel="menu" width="24" height="24" src="https://img.icons8.com/material-sharp/48/menu--v1.png"
             alt="menu--v1"/>
    </div>

    <div id="myInfoList">
        <div>
            <span class="contentTitle">프로필 정보</span>
            <label class="name">
                <span>이름 : </span>
                <input readonly class="_object-input mid" type="text" th:placeholder="${user.getName()}">
                <input class="_object-button" type="button" rel="nameModify" value="수정">
            </label>

            <label class="nickname">
                <span>별명 : </span>
                <input class="_object-input" type="text" th:placeholder="${user.getNickname()}">
                <input class="_object-button" type="button" rel="nicknameModify" value="수정" >
            </label>
        </div>
        <div>
            <span class="contentTitle">보안 정보</span>
            <label class="phone">
                <span>연락처 : </span>
                <input readonly class="_object-input small" type="text" th:placeholder="${user.getContact().substring(0,3)}">
                <span>-</span>
                <input readonly class="_object-input small" type="text" maxlength="4" th:placeholder="${user.getContact().substring(3,7)}">
                <span>-</span>
                <input readonly class="_object-input small" type="text" maxlength="4" th:placeholder="${user.getContact().substring(7,11)}">
                <input class="_object-button" type="button" rel="phoneModify" value="수정">
            </label>
            <label class="email">
                <span>이메일 : </span>
                <input readonly class="_object-input mid" type="text" th:value="${user.getEmail().split('@')[0]}">
                <span>@</span>
                <input readonly class="_object-input mid" type="text" th:value="${user.getEmail().split('@')[1]}">
                <input class="_object-button" type="button" rel="emailModify" value="수정">
            </label>
            <label class="password">
                <span>비밀번호 : </span>
                <input readonly class="_object-input  large" type="password" value="**********">
                <input class="_object-button " type="button" rel="passwordModify" value="수정">
            </label>
        </div>
    </div>
    <div id="footer">

    </div>
</div>

</body>
</html>