<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>들살이 - 추천</title>
    <link rel="shortcut icon" th:href="@{/resources/images/fabicon.png}">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/mobile/format.css}">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/mobile/recommendation.css}">
    <script defer th:src="@{/resources/scripts/mobile/format.js}"></script>
    <script defer th:src="@{/resources/scripts/mobile/recommendation.js}"></script>
</head>
<body>
<div id="dialogMenu">
    <div>
        <div class="menuClose">
            <img rel="menuClose" width="24" height="24" src="https://img.icons8.com/ios/50/delete-sign--v1.png" alt="delete-sign--v1"/>
        </div>
        <div id="userContainer">
            <a th:if="${session.user == null}" th:href="@{/mobile/login}">로그인이 필요합니다.</a>
            <span class="userId" th:if="${session.user != null}" th:text="${session.user.getNickname()}"></span><span
                th:if="${session.user != null}"> 님</span>
        </div>
        <div id="userMenu">
            <a th:class="${session.user == null?'lock':''}" th:href="@{/mobile/myInfo}"><img width="24" height="24" src="https://img.icons8.com/ios/50/info--v1.png" alt="info--v1"/><span>정보수정</span></a>
            <a th:class="${session.user == null?'lock':''}" th:href="@{/mobile/reservation}"><img width="24" height="24" src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/external-calendar-multimedia-kiranshastry-lineal-kiranshastry.png" alt="external-calendar-multimedia-kiranshastry-lineal-kiranshastry"/><span>예약내역</span></a>
            <a th:class="${session.user == null?'lock':''}" th:href="@{/mobile/bookmark}"><img width="24" height="24" src="https://img.icons8.com/ios/50/bookmark-ribbon--v1.png" alt="bookmark-ribbon--v1"/><span>즐겨찾기</span></a>
            <a th:class="${session.user == null?'lock':''}" th:href="@{/mobile/qna/list}"><img width="24" height="24" src="https://img.icons8.com/ios/50/questions.png" alt="questions"/><span>1:1문의내역</span></a>
        </div>
        <div id="helpContainer">
            <tr>
                <td><a th:href="@{/mobile/notice}">공지사항</a></td>
                <td><a th:href="@{/mobile/event}">이벤트</a></td>
            </tr>
            <tr>
                <td><a th:href="@{/mobile/qna}">1:1문의</a></td>
                <td><a th:href="@{/mobile/faq}">FAQ</a></td>
            </tr>
        </div>
        <div id="buttonContainer">
            <ul th:if="${session.user == null}">
                <li><a th:href="@{/mobile/login}"><img width="24" height="24" src="https://img.icons8.com/material-rounded/48/42AB42/enter-2.png" alt="enter-2"/><span>로그인</span></a></li>
                <li><a th:href="@{/mobile/register}"><img width="24" height="24" src="https://img.icons8.com/ios-glyphs/60/42AB42/user-male-circle.png" alt="user-male-circle"/><span>회원가입</span></a></li>
            </ul>

            <ul th:if="${session.user != null}">
                <li><a th:href="@{/mobile/logout}"><img width="24" height="24" src="https://img.icons8.com/material-rounded/48/42AB42/exit.png" alt="exit"/><span>로그아웃</span></a></li>
                <li><a th:href="@{/mobile/}"><img width="24" height="24" src="https://img.icons8.com/material-sharp/48/42AB42/home.png" alt="home"/><span>홈으로</span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="warp">
    <div id="header">
        <img rel="back" width="24" height="24" src="https://img.icons8.com/ios/50/left--v1.png" alt="left--v1"/>
        <span>추천</span>
        <img rel="home" width="24" height="24" src="https://img.icons8.com/material-rounded/48/home.png" alt="home"/>
        <img rel="menu" width="24" height="24" src="https://img.icons8.com/material-sharp/48/menu--v1.png"
             alt="menu--v1"/>
    </div>

    <form id="surveyContainer">
        <div class="survey">
            <span>1. 어디로 떠나고 싶은 신가요?</span>
            <div class="content col">
                <label>
                    <input class="_object-radio" type="radio" name="area" value="서울">
                    <span>서울특별시</span>
                </label>
                <label>
                    <input class="_object-radio" type="radio" name="area" value="인천">
                    <span>인천광역시</span>
                </label>
                <label>
                    <input class="_object-radio" type="radio" name="area" value="대전">
                    <span>대전광역시</span>
                </label>
                <label>
                    <input class="_object-radio" type="radio" name="area" value="대구">
                    <span>대구광역시</span>
                </label>
                <label>
                    <input class="_object-radio" type="radio" name="area" value="울산">
                    <span>울산광역시</span>
                </label>
                <label>
                    <input class="_object-radio" type="radio" name="area" value="광주">
                    <span>광주광역시</span>
                </label>
                <label>
                    <input class="_object-radio" type="radio" name="area" value="부산">
                    <span>부산광역시</span>
                </label>
                <label>
                    <input class="_object-radio" type="radio" name="area" value="경기도">
                    <span>경기도</span>
                </label>
                <label>
                    <input class="_object-radio" type="radio" name="area" value="강원도">
                    <span>강원도</span>
                </label>
                <label>
                    <input class="_object-radio" type="radio" name="area" value="경상북도">
                    <span>경상북도</span>
                </label>
                <label>
                    <input class="_object-radio" type="radio" name="area" value="경상남도">
                    <span>경상남도</span>
                </label>
                <label>
                    <input class="_object-radio" type="radio" name="area" value="전라북도">
                    <span>전라북도</span>
                </label>
                <label>
                    <input class="_object-radio" type="radio" name="area" value="전라남도">
                    <span>전라남도</span>
                </label>
                <label>
                    <input class="_object-radio" type="radio" name="area" value="충청북도">
                    <span>충청북도</span>
                </label>
                <label>
                    <input class="_object-radio" type="radio" name="area" value="충청남도">
                    <span>충청남도</span>
                </label>
                <label>
                    <input class="_object-radio" type="radio" name="area" value="제주">
                    <span>제주특별시</span>
                </label>
            </div>
        </div>
        <div class="survey">
            <span>2. 어떤 유형의 여행을 선호하시나요?</span>
            <div class="content col">
                <label>
                    <input class="_object-radio" type="radio" name="space" value="1">
                    <span>산</span>
                </label>
                <label>
                    <input class="_object-radio" type="radio" name="space" value="2">
                    <span>강</span>
                </label>
                <label>
                    <input class="_object-radio" type="radio" name="space" value="3">
                    <span>바다</span>
                </label>
                <label>
                    <input class="_object-radio" type="radio" name="space" value="4">
                    <span>계곡</span>
                </label>
                <label>
                    <input class="_object-radio" type="radio" name="space" value="0">
                    <span>상관없음</span>
                </label>
            </div>
        </div>
        <div class="survey">
            <span>3. 아이와 함께하는 여행인가요?</span>
            <div class="content col">
                <label>
                    <input class="_object-radio" type="radio" name="isKid" value="1">
                    <span>예</span>
                </label>
                <label>
                    <input class="_object-radio" type="radio" name="isKid" value="0">
                    <span>아니오</span>
                </label>
            </div>
        </div>
        <div class="survey visible" rel="subKid">
            <span>3-1. 아이들을 위한 놀이터 시설이 필요하신가요?</span>
            <div class="content col">
                <label>
                    <input class="_object-radio" type="radio" name="kid" value="1">
                    <span>예</span>
                </label>
                <label>
                    <input class="_object-radio" type="radio" name="kid" value="0">
                    <span>상관없음</span>
                </label>
            </div>
        </div>
        <div class="survey">
            <span>4. 반려견과 함께하는 여행인가요?</span>
            <div class="content col">
                <label>
                    <input class="_object-radio" type="radio" name="isDog" value="1">
                    <span>예</span>
                </label>
                <label>
                    <input class="_object-radio" type="radio" name="isDog" value="0">
                    <span>아니오</span>
                </label>
            </div>
        </div>
        <div class="survey">
            <span>5. 여행에서 어떤 유형의 야영장을 선호하시나요?</span>
            <div class="content col">
                <label>
                    <input class="_object-radio" type="radio" name="type" value="1">
                    <span>일반야영장</span>
                </label>
                <label>
                    <input class="_object-radio" type="radio" name="type" value="2">
                    <span>자동차야영장</span>
                </label>
                <label>
                    <input class="_object-radio" type="radio" name="type" value="3">
                    <span>카라반</span>
                </label>
                <label>
                    <input class="_object-radio" type="radio" name="type" value="4">
                    <span>글램핑</span>
                </label>
            </div>
        </div>
        <div class="survey">
            <span>6. 다른 레저 활동이 필요하신가요?</span>
            <div class="content col">
                <label>
                    <input class="_object-radio" type="radio" name="isLeisure" value="1">
                    <span>예</span>
                </label>
                <label>
                    <input class="_object-radio" type="radio" name="isLeisure" value="3">
                    <span>상관없음</span>
                </label>
            </div>
        </div>
        <div class="survey visible" rel="subLeisure">
            <span>6-1. 어떤 레저활동을 원하시나요?</span>
            <div class="content col">
                <label>
                    <input class="_object-radio" type="radio" name="leisure" value="1">
                    <span>낚시</span>
                </label>
                <label>
                    <input class="_object-radio" type="radio" name="leisure" value="2">
                    <span>해수욕</span>
                </label>
                <label>
                    <input class="_object-radio" type="radio" name="leisure" value="3">
                    <span>수영</span>
                </label>
                <label>
                    <input class="_object-radio" type="radio" name="leisure" value="4">
                    <span>수상스포츠(빠지 등)</span>
                </label>
            </div>
        </div>
        <div class="survey">
            <span>7. 화로대 사용가능한 곳을 선호하시나요?</span>
            <div class="content col">
                <label>
                    <input class="_object-radio" type="radio" name="fireStand" value="1">
                    <span>예</span>
                </label>
                <label>
                    <input class="_object-radio" type="radio" name="fireStand" value="0">
                    <span>상관없음</span>
                </label>
            </div>
        </div>
        <div class="survey">
            <span>8. 마트가 있는 곳을 선호하시나요?</span>
            <div class="content col">
                <label>
                    <input class="_object-radio" type="radio" name="mart" value="1">
                    <span>예</span>
                </label>
                <label>
                    <input class="_object-radio" type="radio" name="mart" value="0">
                    <span>상관없음</span>
                </label>
            </div>
        </div>
        <input name="answerSend" type="button" class="_object-button large" value="제출하기">
    </form>


    <div id="footer">

    </div>
</div>

</body>
</html>