@charset "UTF-8";


#contents {
    width: 100%;
    padding-bottom: 3rem;
}


#contents > .subBene {
    width: 100%;
    min-height: 12rem;
    padding: 0 2rem;

    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-image: url("../../images/subBene/003.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#contents > .subBene.visible {
    display: none;
}

#contents > .subBene > .title {
    width: 100%;
    min-height: 5rem;
    margin-top: 2rem;
    font-weight: 600;
    color: #515151;

    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#contents > .subBene > .title > span:first-child {
    font-size: 2.75rem;
}

#contents > .subBene > .title > span:nth-child(2) {
    margin-top: 1.5rem;
    font-size: 1rem;
    color: #818181;
}
#contents > .content > div{
    width: 100%;

    align-items:flex-start;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
#contents > .content > div > span{
    width: 100%;
    font-size: 1.75rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
}

#contents > .content > div > table {
    width: 100%;
    border-top: 0.25rem solid;
}

#contents > .content > div > table > thead > tr,
#contents > .content > div > table > tbody > tr {
    height: 3rem;
}

#contents > .content > div > table > thead > tr > th {
    border-bottom: 0.0625rem solid;
    text-align: center;
}

#contents > .content > div > table > thead > tr > th:nth-child(5) {
    width: 7rem;
}

#contents > .content > div > table > tbody > tr > td {
    border-bottom: 0.0625rem solid #eaeaea;
    text-align: center;
    font-size: 0.9rem;
}

#contents > .content > .newCamping {
    margin-top: 2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contents > .content > .newCamping > div {
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#contents > .content > .newCamping > div > .lineContainer {
    width: 100%;
    height: 100%;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.lineContainer > ._object-check-wrapper {
    width: 100%;
    height: 100%;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.lineContainer > ._object-check-wrapper.small {
    width: unset;
    height: 100%;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.lineContainer > span + ._object-check-wrapper.small {
    margin-left: 0.5rem;
}


.lineContainer > ._object-check-wrapper + ._object-check-wrapper {
    margin-left: 1rem;
}

.lineContainer > ._object-check-wrapper > .text {
    margin-left: 0.5rem;
    width: 3rem;
    padding: 0.35rem;
}

#contents > .content > .newCamping > div > .lineContainer > ._object-input-wrapper {
    width: 100%;
    max-width: 30rem;
    min-width: 17.5rem;
}

/*.lineContainer > ._object-input-wrapper.name > span {*/
/*    margin-right: 1.7rem;*/
/*}*/

.lineContainer > ._object-input-wrapper > label {
    margin-left: 0.5rem;
}

#contents > .content > .newCamping > div > .lineContainer > ._object-input-wrapper + ._object-input-wrapper {
    margin-left: 2rem;
}

#contents > .content > .newCamping > div > .lineContainer > label > span + input {
    margin-left: 0.5rem;
}


#contents > .content > .newCamping > div > * + * {
    margin-top: 0.75rem;
}

#contents > .content > .newCamping > div + div {
    margin-top: 2rem;
}

#contents > .content > .newCamping > div > .contentTitle {
    width: 100%;
    font-size: 1.75rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
    border-bottom: 0.25rem solid;
}

#contents > .content > .newCamping > div > .contentSubTitle {
    width: 100%;
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
    box-sizing: border-box;
    border-bottom: 0.1rem solid;
}

#contents > .content > .newCamping > div > label {
    width: 100%;
    margin-top: 1rem;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.newCamping > .facility > textarea {
    width: 97%;
    min-height: 7.5rem;
}

.newCamping > .location {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#map {
    border: 0.0625rem solid;
    width: 100%;
    height: 30rem;
}

/*.newCamping > .location > .label {*/
/*    width: 50%;*/
/*}*/
.mapContent {
    height: 30rem;
    margin-left: 1rem;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.mapContent > label + label {
    margin-top: 1rem;
}

.mapContent > label:first-child > ._object-input {
    width: 12.75rem;
}

.mapContent > label > ._object-input + ._object-button {
    margin-left: 1.5rem;
}

#imageContainer{
    border: 0.0625rem solid;
    width: 100%;
    height: 30rem;
    padding: 0.5rem;
    box-sizing: border-box;

    display: grid;
    grid-template-columns : repeat(5, 1fr);
    grid-template-rows : repeat(2, 1fr);
    gap : 0.5rem 0.5rem
}

#imageContainer > .image{
    border: 0.0625rem solid;
    width: 100%;
    height: 100%;
    max-width: 14rem;
    max-height: 14rem;
    position: relative;
}

#imageContainer > .image > img{
    width: 100%;
    height: 100%;
}

.close{
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    background-color: #00000060;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAABBUlEQVR4nO3ZTQqDMBCGYU/RSq9Yj1uwPc1bRBcirWicv4T5Vm6UeVCTGdJ1mUwm00yAJ9AHqKOfaim9eWDO6IlhRkw1TBlKHnADXssDPsBDpdL9Gu6rGt7FNXhikEJ4YpBGeGDQQlhi0EZYYMwQmhhzhAbGDSGJcUdIYMIgrmDCIUowYRFnMOERRzDVIPYw1SH+zBDj5tp9ULvyZup6E+tsPiezEUA0TXxa/PixI4zNp7K3OlWD4cASGx7DiX0iLIaCzS4chgs7dhgMAm2HOwbB3skNg0IDaI5BsYs1w2DQiqONsZwn0MJ4DEVIYzwnO6QwEcZTJDDNHL01cxiayWQyXcR8AfkY5euVO0c7AAAAAElFTkSuQmCC");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 62.5%;
    cursor: pointer;
    position: absolute;
    z-index: 10;
}

.plus{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3rem;
    height: 3rem;
    background-color: #00000060;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAUUlEQVR4nO3TwQ3AMAzEMO+/dPrJCA2qFOQGZ8EzAMB5a5vbLUNiFKlRpEaRGkVqFKlR5ORVvzKGvMiP1ChSo0iNIjWK1ChSo0jNb4oAwFzgAUeu7iAbqd3NAAAAAElFTkSuQmCC");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 62.5%;
    border-radius: 3rem;
    cursor: pointer;
    position: absolute;
    z-index: 10;
}

.newCamping > .reservation {
    padding-bottom: 2rem;
}

.createCost > table {
    border-bottom: 0.0625rem solid;
}

.createCost > table > thead > tr > th {
    width: 10rem;
    border-bottom: 0.0625rem solid;
    padding-bottom: 0.25rem;
    box-sizing: border-box;
}

.createCost > table > thead > tr > th.small {
    width: 6rem;
    padding: 0.25rem;
}

.createCost > table > tbody > tr > td {
    text-align: center;
    padding: 0.25rem 0;
    box-sizing: border-box;
}

.createCost > table > tbody > tr > td > input {
    width: 9.5rem;
    padding: 0.25rem;
}

.createCost > table > tbody > tr > td > input.small {
    width: 5.5rem;
    padding: 0.25rem;
}

.createCost + .lineContainer > div {
    width: 30rem;
    align-items:center;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

.createCost + .lineContainer > div > input {
    padding: 0.25rem;
    box-sizing: border-box;
    background-color: #ffffff;
}

.createCost + .lineContainer > div > input + input {
    margin-left: 0.5rem;
}

#contents > .content > .newCamping > .buttonContainer{
    margin-top: 3rem;

    align-items:center;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#contents > .content > .newCamping > .buttonContainer > input {
    width: 15rem;
    height: 3.5rem;
}

#contents > .content > .newCamping > .buttonContainer > input + input{
    margin-top: 0;
    margin-left: 1rem;
}

#contents > .content > .newCamping.visible {
    display: none;
}

/*#footer {*/
/*    width: 100%;*/
/*    height: 30%;*/
/*    min-height: 8rem;*/

/*    align-items: stretch;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: flex-start;*/
/*}*/

/*#footer > #sub_logo {*/
/*    width: 20%;*/
/*    height: 100%;*/

/*    align-items: center;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*}*/